 body{
 	background-color: #F0F0F0;
  font-family: Arial, Helvetica, sans-serif;
 }

 * {
  box-sizing: border-box;
}


/* Style the header */

/* Container for flexboxes */

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }
}
.barra{
  -webkit-box-shadow: 0px 30px 36px -28px rgb(255, 255, 255);
  -moz-box-shadow: 0px 30px 36px -28px rgb(255, 255, 255);
  box-shadow: 0px 30px 36px -28px rgb(255, 255, 255);

}
/* LINHA COLORIDA A CIMA DO NAV BAR */
.navbar::before{
   content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    min-width: 200px;
    z-index: 1;
    margin: 0;
    background-image: linear-gradient(139deg, #00bfff, #0040ff, #c12127, #e02aff);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

   
 