 body{
 	background-color: #F0F0F0;
  font-family: Arial, Helvetica, sans-serif;
 }

 * {
  box-sizing: border-box;
}

/* IMAGEM COM HOVER */

/* .wrapper {
  display: inline-block;
  position: relative;
}

.hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 188, 212, 0);
  transition: background-color 0.5s;
}

.hover:hover {
  background-color: rgba(0, 188, 212, 0.8);
}

img {
  vertical-align: bottom;
} */

/* <div class="wrapper">
    <div class="hover"></div>
    <img src="http://placehold.it/450x250" />
  </div> */

/* IMAGEM COM HOVER */

section {
  background-image: url(../images/parede.jpg);
  background-color: rgba(64, 118, 182, 1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  width: 100%; 
}

.capa-01{
  background-image: linear-gradient(139deg, #000000, transparent);
  width: 100%;
  height: 100%;
  position: inherit;
  margin: 0;
  padding-top:0; 
}





/* Style the header */

/* Container for flexboxes */

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }
  
}
.barra{
  -webkit-box-shadow: 0px 30px 36px -28px rgb(255, 255, 255);
  -moz-box-shadow: 0px 30px 36px -28px rgb(255, 255, 255);
  box-shadow: 0px 30px 36px -28px rgb(255, 255, 255);

}
/* LINHA COLORIDA A CIMA DO NAV BAR */
.navbar::before{
   content: "";
    display: block;
    height: 3px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    min-width: 200px;
    z-index: 1;
    margin: 0;
    background-image: linear-gradient(139deg, #00bfff, #0040ff, #c12127, #ff3c3c);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

   
 